#footer {
  background-color: #1d3557ff;
  padding: 2rem;
  .col-3 {
    display: flex;
    justify-content: space-around;
  }
  .footer.footer__links.social__links {
   
    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }
  .footer.footer__links {
    li {
      list-style-type: none;
      .logo--small {
        height: 36px;
      }
      a {
        color: #fff;
      }
    }
  }
  /* Contact Form Styles*/

.center_div{
  margin: 0 auto;
  width:100%;
	margin-left: 11%;
}

label {
	color: #fff;
}

.btn .btn-primary {
	font-size: 2rem;
}
.form-control {
  border-radius: 4px;
}

#subject {
  padding: .5rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
}

#submit {
  margin-top: 1rem;
}

.form-horizontal {
  margin-right: 14%;
}

/* Footer Styles*/
footer {
	background-color: #FFC300;
	text-align: center;
	color: #fff;
	margin-bottom: 0;
	overflow: hidden;
}

}