#hero {
  // .fade-in-star {
  //   opacity: 1;
  //   animation: fadeIn ease 10s;
  //   -webkit-animation: fadeIn ease 10s;
  //   -moz-animation: fadeIn ease 10s;
  //   -o-animation: fadeIn ease 10s;
  //   -ms-animation: fadeIn ease 10s;
  //   }
  //   @keyframes fadeIn {
  //     0%,100% { opacity: 0 }
  //     50% { opacity: 1 }
  //   }
    
  //   @-moz-keyframes fadeIn {
  //     0%,100% { opacity: 0 }
  //     50% { opacity: 1 }
  //   }
    
  //   @-webkit-keyframes fadeIn {
  //     0%,100% { opacity: 0 }
  //     50% { opacity: 1 }
  //   }
    
  //   @-o-keyframes fadeIn {
  //     0%,100% { opacity: 0 }
  //     50% { opacity: 1 }
  //   }
    
  //   @-ms-keyframes fadeIn {
  //     0%,100% { opacity: 0 }
  //     50% { opacity: 1 }
  //   }
  
  .falling__star {
      position: absolute;
      font-size: 2rem;
      animation-name: falling_star;
      animation-duration: 4s;
      animation-iteration-count:infinite;
      // animation: fade-in-star ease 1s;
    }

    .falling__star_2 {
      position: absolute;
      font-size: 2rem;
      animation-delay: 3s;
      animation-name: falling_star_2;
      animation-duration: 2s;
      animation-iteration-count:infinite;
      // animation: fade-in-star ease 1s;
    }

    .falling__star_3 {
      position: absolute;
      font-size: 2rem;
      animation-delay: 130s;
      animation-name: falling_star_3;
      animation-duration: 130s;
      animation-iteration-count:infinite;
      // animation: fade-in-star ease 1s;
    }
    
  @keyframes falling_star {
    0% {opacity: 1;}
    from {left:10px; top:50px;}
    to {left: 540px; top:350px;}
    100% {opacity: 0;}
  }

  @keyframes falling_star_2 {
    0% {opacity: 1;}
    from {left:310px; top:70px;}
    to {left: 940px; top:450px;}
    100% {opacity: 0;}
  }

  @keyframes falling_star_3 {
    0% {opacity: 1;}
    from {left:510px; top:120px;}
    to {left: 840px; top:370px;}
    100% {opacity: 0;}
  }

  .hero--background {
    // background-color: #e63946ff;
    background: url('/img/mountain-stars-sky-sm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 450px;
  }
  
  .hero {
      .title {
        width: 64%;
        top: 40px;
        position: relative;
        padding: 1rem;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 600;
        // color: #4D4646;
        &.author {
          font-weight: 400;
          font-style: italic;
          font-size: 1.4rem;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.2);;
        }
      }
      .hero--credit {
        bottom: 126px;
        display: block;
        position: absolute;
        padding: 1rem;
        color: #fff;

        & a {
          color: #fff;
        }
      }
  }
}




@media only screen and (min-width: 375px) {
  #hero {
    .hero {
      .title {
        font-size: 2rem;
        top: 40px;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #hero {
    .hero {
      .title {
        font-size: 2.8rem;
        top: 40px;
        width: 80%;
        padding-left: 138px;
      }
    }
  }

}


